#bundle-smart_bar {
    background-image: url("https://appsolve.io/asset/apps/vitals/img/smart_bar/black.png");
    background-size: cover;
}

#bundle-smart_bar_container {
    color: #ffffff;
}

#smart_bar_countdown, .fs-bar-price {
    color: #dd2b44 !important;
    font-weight: bold;
}

#bundle-smart_bar span:not(.vttooltiptext) {
    color: #000000 !important;
    border: 1px solid white;
}

#bundle-smart_bar .bar-close-btn {
    color: #ffffff !important;
}
